[Unit]
Description=Hearthdeck local session
After=hearthdeck-log.service hearthdeck-bridge.socket hearthdeck-input.service
Wants=hearthdeck-log.service hearthdeck-bridge.socket hearthdeck-daemon.service hearthdeck-input.service romm.service romm.path

[Install]
WantedBy=default.target
