[Desktop Entry]
Name=Hearthdeck Direct
Comment=Minimal direct DRM Gamescope session
Exec=/usr/lib/hearthdeck/hearthdeck-direct-session
Type=Application
DesktopNames=gamescope;hearthdeck
