[Unit]
Description=Hearthdeck Kiosk launcher
PartOf=cosmic-session.target
ConditionEnvironment=XDG_CURRENT_DESKTOP=hearthdeck:COSMIC

[Service]
Type=exec
Environment=GDK_BACKEND=wayland
ExecStartPre=/usr/bin/systemctl --user start hearthdeck.target
ExecStartPre=/usr/bin/systemctl --user restart hearthdeck-bridge.service
ExecStart=/opt/hearthdeck/hearthdeck
ExecStopPost=-/usr/bin/systemctl --user stop hearthdeck-kiosk.slice hearthdeck.target

[Install]
WantedBy=cosmic-session.target
