[Desktop Entry]
Name=Hearthdeck Console
Comment=Supervised direct DRM Gamescope session
Exec=/usr/lib/hearthdeck/hearthdeck-console-session
Type=Application
DesktopNames=gamescope;hearthdeck
