[Desktop Entry]
Name=Hearthdeck Console
Comment=Direct DRM Gamescope session with Xterm bootstrap
Exec=/usr/lib/hearthdeck/hearthdeck-console-session
Type=Application
DesktopNames=gamescope;hearthdeck
