[Unit]
Description=Hearthdeck Console client
Requires=hearthdeck-gamescope.service
After=graphical-session.target hearthdeck-gamescope.service
PartOf=hearthdeck-console.target

[Service]
Type=exec
EnvironmentFile=%t/hearthdeck/gamescope-environment
ExecStart=/usr/lib/hearthdeck/hearthdeck-console-client
ExecStopPost=/usr/bin/systemctl --user stop hearthdeck-bridge.service
KillMode=mixed
