[Unit]
Description=Hearthdeck local session
After=hearthdeck-log.service hearthdeck-bridge.socket
Wants=hearthdeck-log.service hearthdeck-bridge.socket hearthdeck-daemon.service romm.service

[Install]
WantedBy=default.target
